﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {     
    <script src="~/Scripts/Student_Index.js"></script>
}

<h2>Danh sach student</h2>

<div>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>FULLNAME</td>
                <td>TELEPHONE</td>
                <td>ADDRESS</td>
            </tr>
        </thead>
        <tbody id="bodyListTable">

        </tbody>
    </table>
</div>

<input id="FULLNAME" />
<input id="ADDRESS" />
<input id="TELEPHONE" />

<button id="btn-add-student">Them</button>

<script>
    var hubNotify;

    

    $(document).ready(function (e) {
        hubNotify = $.connection.employeesHub;
        $.connection.hub.start();
        hubNotify.client.refreshEmployeeData = function () {
            GetAll();
        };
    });

    function GetAll() {
        $.ajax({
            url: '/Student/GetAllStudent',
            contentType: 'application/json ; charset:utf-8',
            type: 'GET',
            dataTyp: 'json',
            success: function (result) {
                $("#bodyListTable").empty();

                for (var i = 0; i < result.Data.length; i++) {
                    $("#bodyListTable").append('<tr><td>' + result.Data[i].ID + '</td><td>' + result.Data[i].FULLNAME + '</td><td>' + result.Data[i].TELEPHONE + '</td><td>' + result.Data[i].ADDRESS + '</td></tr>');
                }

            }
        });
    }

</script>
<script>
    var data = {};
    $(document).ready(function (e) {
        $("#btn-add-student").click(function (e) {
            data.FULLNAME = $("#FULLNAME").val();
            data.ADDRESS = $("#ADDRESS").val();
            data.TELEPHONE = $("#TELEPHONE").val();

            $.ajax({
                url: '/Student/CreateStudent',
                contentType: 'application/json ; charset:utf-8',
                type: 'POST',
                dataTyp: 'json',
                data: JSON.stringify(data),
                success: function (e) {
                    console.log(e);


                }
            });

        });
    });
</script>