﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>


<input id="FULLNAME" />
<input id="ADDRESS" />
<input id="TELEPHONE" />

<button id="btn-add-student">Them</button>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<script>
    var data = {};
    $(document).ready(function (e) {
        $("#btn-add-student").click(function (e) {
            data.FULLNAME = $("#FULLNAME").val();
            data.ADDRESS = $("#ADDRESS").val();
            data.TELEPHONE = $("#TELEPHONE").val();

            $.ajax({
                url: '/Student/CreateStudent',
                contentType: 'application/json ; charset:utf-8',
                type: 'POST',
                dataTyp: 'json',
                data: JSON.stringify(data),
                success: function (e) {
                    console.log(e);


                }
            });

        });
    });
</script>