﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC SignalR</h1>
    <p class="lead">Transform an existing MVC Application to a Real-time App using SignalR </p>
    <p><a href="https://codewithsarath.com" class="btn btn-primary btn-lg">By Sarath Lal</a></p>
</div>

