﻿@{
    ViewBag.Title = "Employee Details";
}

<div id="dataModel"></div>

@section JavaScript{
    
    <script type="text/javascript">
        $(function () {
            var hubNotify = $.connection.employeesHub;

            $.connection.hub.start().done(function () {
                debugger;
                getAll();
            });

            hubNotify.client.refreshEmployeeData = function () {
                debugger;
                getAll();
            };
        });

        function getAll() {
            var model = $('#dataModel');
            $.ajax({
                url: '/Employees/GetEmployeeData',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function(result) { model.empty().append(result); }
            });
        }
    </script>
}